/* 设置无序列表的样式 */
.nav{
    height: 150px;
    width: 100%;
    /* 开启相对定位 */
    position: relative;   
}
/* 设置无序列表中title部分的样式 */
#title{
    width: 150px;
    height: 30px;
    /* 使文字垂直居中 */
    line-height: 30px;
    /* 文字加粗 */
    font-weight: bold;
    font-size: 20px;
    /* 开启绝对定位并保持水平居中 */
    position: absolute;
    left: 50%;
    top: 50px;
    margin-left: -75px;
}
#slogan{
    height: 30px;
    /* 使文字垂直居中 */
    line-height: 30px;
    /* 开启绝对定位并使元素始终在页面左边 */
    position: absolute;
    left: 25%;
    top: 50px;
}
#userM{
    height: 100px;
    width: 35px;
    /* 开启绝对定位并使元素始终在页面右边 */
    position: absolute;
    right: 25%;
    top: 80px;
}
/* 设置图片为圆形样式 */
img{
    height: 35px;
    width: 35px;
    border-radius: 35px;
}


/* 设置表单部分宽度及高度并水平居中 */
.post{
    width: 300px; 
    height: 280px;
    margin: 0 auto;
}
/* 设置input标签样式 */
#name,#age,#phoneNum,#email{
    width: 240px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid rgb(0, 128, 255);
}
/* 设置输入框被选中后的样式 */
#name:focus,#age:focus,#phoneNum:focus,#email:focus{
    outline: none;
    border: 2px solid rgb(72, 0, 255);
}
/* 设置label样式 */
.post label{
    display: block;
    height: 30px;
    display: flex;
	justify-content: center;
	align-items: center;
}
.post #la2,#la3{
    padding-bottom: 15px;
}
/* 设置按钮样式 */
.post #commit{
    margin-left: 120px;
    margin-top: 10px;
    width: 80px;
    height: 30px;
    border-radius: 30px;
    background-color: blueviolet;
    color: white;
    border: 0;
}
/* 设置鼠标移入按钮时的样式 */
.post #commit:hover{
    color: red;
}
/* 设置提示部分的样式 */
.post .hint{
    height: 15px;
    margin-left: 50px;
    display: block;
}

/* 设置表格部分位置并水平居中，同时让文字居中 */
.tab{
    width: 600px;
    margin: 35px auto;
    text-align: center;
    vertical-align: middle;
}
/* 设置表格下边框格式 */
.tab td{
    border-bottom: 1px solid rgba(0, 55, 255, 0.667);
    padding: 10px 0;
}
/* 设置表格各列标题格式 */
.tab th{
    border-bottom: 1px solid rgba(0, 55, 255, 0.667);
    font-weight: bold;
    padding: 10px 0;
}
/* 取消a标签下划线 */
.tab a{
    text-decoration-line: none;
}
/* 设置鼠标移入时颜色变淡的效果 */
.tab a:hover{
    color: blueviolet;
}