ul {
    height: 100px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 20px 300px;
}

.left {
    float: left;
    color: purple;
    font-size: 30px;
}

.absolute {
    position: absolute;
    top: 50px;
    right: 20px;
    width: 80px;
}

.right {
    float: right;
    color: rgb(223, 116, 134);
    font-size: 30px;
}

form {
    text-align: center;
    margin: 20px;
}

.inf {
    height: 20px;

}

input[type=text] {
    width: 150px;
    margin: 6px 0px;
    border: black 1px solid;
    padding: 8px 8px;
    border-radius: 18px;
    transition: width 0.4s ease-in-out;
    opacity: 0.5;
}

input[type=text]:focus {
    background-color: lightblue;
    width: 200px;
}

input[type=submit] {
    width: 80px;
    margin: 12px 0px;
    padding: 3px;
    border: black 1px;
    background-color: lightblue;
    border-radius: 10px;
    font-size: 20px;
    opacity: 0.8;
}

input[type=submit]:hover {
    opacity: 0.5;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

th {
    height: 35px;
    border-bottom: 2px solid black;
}

td {
    text-align: center;
    height: 35px;
    border-bottom: 2px solid black;
}

table a {
    text-decoration: none;
}

body {
    background-image: url(images/ba2.png);
}
