ul {
    height: 100px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 20px 300px;
}

.left {
    float: left;
    color: purple;
    font-size: 30px;
}

.absolute {
    position: absolute;
    top: 50px;
    right: 20px;
    width: 80px;
}

.right {
    float: right;
    color: rgb(223, 116, 134);
    font-size: 30px;
    font-weight: 700;
}

form {
    text-align: center;
    margin: 20px;
}


input[type=text] {
    width: 160px;
    margin: 6px 0px;
    border: white 1px solid;
    padding: 8px 8px;
    border-radius: 18px;
    font-size: 15px;
    transition: width 0.4s ease-in-out;
    opacity: 0.5;
}

input[type=text]:focus {
    background-color: lightblue;
    width: 200px;
}

.div1 {
    color: rgb(243, 219, 4);
}

.div2 {
    color: rgb(243, 219, 4);
}

input[type=submit] {
    width: 80px;
    margin: 12px 0px;
    padding: 3px;
    border: black 1px;
    background-color: lightblue;
    border-radius: 10px;
    font-size: 20px;
    opacity: 0.8;
}

input[type=submit]:hover {
    opacity: 0.6;
}

table {
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

th {
    font-size: 20px;
    height: 35px;
    border-bottom: 2px solid white;
}

td {
    text-align: center;
    height: 35px;
    border-bottom: 2px solid white;
}

table a {
    text-decoration: none;
    color: yellow;
}

table a:hover {
    opacity: 0.7;
}

body {
    animation-name: body;
    animation-duration: 1s;
    background-image: url(images/ba33.jpg);
    animation-timing-function: linear;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

@keyframes body {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}
