*{
    padding:0;
    margin:0;
}
/* 清除内外边距 */

.wrap{
    position: relative;
    height:589px;
    width:814px;
    background-color: rgb(10, 1, 26);
    margin: 0 auto;
    border-radius: 20px;
}

.header{
    height:120px;
    width: 755px;
}

.header li{
    list-style: none;
}

.list_1{
    position: relative;
    top:32px;
    left:79px;
    font:normal 400 16px "microsoft yahei";
}

.list_2{
    font:normal 700 26px "microsoft yahei";
    position: relative;
    left:319px;
}

.list_3{
    position: absolute;
    top:80px;
    right:85px;
    font:normal 700 16px "microsoft yahei";
}

.main{
    width : 814px;
    height: 284px;
}

.form input{
    border-radius: 16px;
     width:310px; 
    height: 32px;
    margin-bottom: 21px;
    margin-left: 12px;

    padding-left: 20px;
    padding-right: 20px;
}

button{
    height : 40px;
    border-radius: 10px;
    background-color: rgb(11, 156, 48);
    margin-left: 374px;
    padding-left: 44px;
    padding-right: 44px;
    border-color: rgb(255, 255, 255,0);
    color :#fff;
}



.form span{
    display: inline-block;
    margin-left: 150px;
    background-color: rgb(11, 156, 48);
    border-radius: 10px;
    width : 100px;
    text-align: center;
}

.footer{
    height: 185px;
    width: 814px;
}



table{
    height : 185px;
    width : 573px;
    margin-left: 129px;
}

th{
    border-bottom: 1px solid #fff;
}

 td{
    text-align: center;
    height : 44px;
    line-height: 44px;
    border-bottom: 1px solid #fff;

 }

 
 a{
    text-decoration: none;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    width :69.59px;
    color :#fff;
 }

 a:hover{
    background-color: rgb(11, 156, 48);
    border-radius: 10px;
 }

button:hover{
    background-color:rgb(11, 156, 48,0.8);
 }

.img{
    position :relative;
    left: 685px;
    top : -20px;
}

.font_color{
    color : #fff;
}
