
/* 去除无序列表前面的点 */
 ul
 {list-style: none;

 }
 .bai{
  color:red
 }
 /* 设置头像 */
.image{border-radius:50%;
  width:60px;
  height:60px;
  background: url(./bl1.jpg) no-repeat center;
  background-size: 60px;
  position:absolute;
  right:50px;
  top:30px;
}
/* 设置收集表位置 */
    .shouji{
      width:300px;
      height:50px;
      margin:0 auto;
    }
    .zhenghuo{
      background: url(./zhenghuo.gif) no-repeat center;
      width:60px;
      height:60px;
      background-size: 60px;
      position:absolute;
      right:50px;
      top:300px;
  }
  /* 输入表单的设置 */
    .inp{
      width:380px;
      height:200px;
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    /* 输入框的设置 */
input{
   width:300px;
  height:20px;
   border:1px solid blue ;
   border-radius: 10px;
   margin-bottom: 10px;
  outline:none;
 }  
 /* 输入框点击后的设置 */
 input:focus{
  border:2px solid green;
  background-color:gainsboro;
 }
 /* 提示框的设置 */
span{
  width:300px;
  height:20px;
  display:block;
  font-size: 10px;
  color:red;
  text-align:center;
  font-weight: bold;
 }
 /* 使输入框格式一样 */
 #pt2{
  margin-bottom: 30px;
 }
 #pt3{
  margin-bottom: 30px;
 }
 
 /* 头像框下的名字设置 */
 .tou{
  position: absolute;
  right:50px;
  top:80px;
 } 
 /* 使表格居中 */
 table
  {  width:700px;
     border-collapse:collapse;
     /* padding-bottom: 10px; */
     margin: 0 auto;
   
  }
  /* 设置提交按钮属性 */
  input[type=submit]{
    background-color: blueviolet;
    color :white;
    width:80px;
    height:30px;
    font-size: 20px;
    margin-left: 150px;
  }
  /* 设置分割线和文本居中 */
tr{text-align: center;
    height: 40px;
 }
 /* 表格行的下划线 */
 td{
  border-bottom: 1px solid black;
  padding: 0;
 }
th{
  border-bottom: 1px solid black;
  padding: 10px 0;
}
 /* 删除a标签删除下划线 */
 a{
  text-decoration:none;
 }