
   body{
    background-color:whitesmoke;
    background-image:url("我打开任督二脉/南大门.jpg");
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment:fixed;
    background-size: 1400px 800px;
    text-align: center;
 }
   ul{
    list-style-type: none;
    color:red;
    text-align:center;
    margin: 0;
    padding: 0;
    width: 1250px;
   }

   #title1{
    float:left;
    font-size:17px;  }
   #title2{
    text-align: center;  
    font-size:28px;
    }
   #title3{
    float:right;
   }
   form{
    text-align: center;
    color: red;
    font-size: 20px;
   }
   .txx{
    border:1px solid #ccc;padding:7px 0px;border-radius:3px;padding-left:5px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}input:focus{border-color:#66afe9;outline:0; -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
   }
   .tee{
    width: 70px; /* 宽度 */
	height: 40px; /* 高度 */
	border-width: 0px; /* 边框宽度 */
	border-radius: 3px; /* 边框半径 */
	background:gray; /* 背景颜色 */
	cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
	outline: none; /* 不显示轮廓线 */
	font-family: Microsoft YaHei; /* 设置字体 */
	color: white; /* 字体颜色 */
	font-size: 17px; /* 字体大小 */
   }
   .tee:hover { /* 鼠标移入按钮范围时改变颜色 */
	background:burlywood;
}
   div{
    border-width:2px ;
    border-color:red;
    margin: 6px;
    }
   table{
    width:600px;
    margin:auto;
    border-style: solid;
    border-color:azure;
   }
   th,td{
    padding:5px;
    border-style:solid;
    border-color:azure;
    margin:0ch;
   }
   td{
   color:beige;
   }
  #thed{
    color:brown;
  }